@import "../../styles/breakpoints";

header {
  .header__text h1 {
    font-size: 30px;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .header__text p {
    color: #81afdd;
    font-size: 14px;
    padding-bottom: 12px;
  }

  form {
    .header__form__input {
      background: #052d56;
      padding: 8px;
      border: none;
    }
    .header__form__btn {
      background: #ff4820;
      border-radius: 1px;
      padding: 8px;
      border: none;
      color: #fff;
    }
  }

  .header__image__cont {
    // display: flex;
    padding: 12px 0;

    .header__image {
      max-width: 100%;
    }

    .header__image__caption {
      font-size: 12px;
      color: #ffffff;
    }
  }

  .headerimg__ilustration {
    max-width: 100%;
  }

  @include respondMin("sm-tablet") {
    flex-direction: row;
  }
}
