@import "../../styles/breakpoints";

.startups__icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 1rem;
  margin: 2rem 0;
  .startups__icon__img {
    max-width: 100%;
    width: 100px;
  }
}
