@import "../../styles/breakpoints";

.startups__icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 2rem 1rem;

  @include respondMin('tablet') {
    gap: 3rem;
  }

  .startups__icon__img {
    max-width: 100%;
    width: 100px;
  }
}
