@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
