@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
header {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
