@import "../../styles/breakpoints";

.what__is__gpt3__cont {
  margin: 4rem 1rem;
  padding: 1rem;
  background: radial-gradient(
                  circle at 30% -100%,
                  #042c54 25%,
                  rgba(4, 44, 84, 1) 85%,
                  rgba(27, 120, 222, 1) 100%
  );

  @include respondMin('tablet') {
    margin: 4rem 2rem;
    padding: 2rem;
  }

  @include respondMin('tablet') {
    margin: 6rem 3rem;
  }

  .what__is__gpt3 {
    margin: 30px 0;

    h1,
    p {
      color: #ffffff;
    }

    @include respondMin('desktop') {
      display: flex;
      justify-content: space-between;

      p {
        max-width: 65%;
      }
    }
  }

  .what__is__gpt3__cont2 {

    @include respondMin('tablet') {
      display: flex;
      gap: 2rem;
    }

    .chatbots,
    .knowledgebase,
    .education {
      margin: 30px 0;
    }

    .chatbots,
    .knowledgebase,
    .education {
      h1,
      p {
        color: #ffffff;
      }
    }
  }

  .explore__the__library {
    h1,
    p {
      background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
      #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }



    @include respondMin('tablet') {
      padding: 15px 0;
    }

    @include respondMin('desktop') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 35px 0;

      h1 {
        font-size: 35px;
        max-width: 45%;
      }
    }
  }
}
