@import "../../styles/breakpoints";

.the__future__cont {
  margin: 0 1rem 30px 1rem;
  @include respondMin('tablet') {
    margin: 0 2rem 30px 2rem;
  }

  .the__future__header {
    h1 {
      background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
      #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    p {
      color: #ff8a71;
      padding-top: 8px;
      padding-bottom: 30px;
    }

    @include respondMin('tablet') {
      h1 {
        padding: 10px 0;
      }
    }
  }

  .the__future__cont2 {
    .improving__end,
    .become__tended,
    .message__or__am__nothing,
    .really__boy {
      h1 {
        color: #ffffff;
      }

      p {
        color: #81afdd;
        padding: 15px 0;
      }

      @include respondMin('tablet') {
        padding: 20px 0;
      }
    }

    .really__boy__h1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
}
