@import "../../styles/breakpoints";

.footer {
  background: #031b34;
  padding: 5rem 1rem 2rem 1rem;
  p {
    color: #ffffff;
    margin-top: 20px;
  }
  .footer__first__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      padding-bottom: 2rem;
      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    button {
      color: #ffffff;
      background: #031b34;
      border: 1px solid #ffffff;
      padding: 12px 10px;
      text-align: center;
    }
  }

  .footer__cont2 {
    margin-top: 30px;
    .footer__logo {
      margin-top: 10px;
      margin-bottom: 20px;
      .footer__logo__cap {
        padding-top: 10px;
        color: #ffffff;
        font-size: 13px;
      }
    }

    .footer__links {
      ul {
        list-style-type: none;
        .links,
        .company,
        .get__in__touch {
          font-size: 18px;
          padding-top: 15px;
          padding-bottom: 8px;
        }
        li {
          color: #ffffff;
          font-size: 12px;
        }
      }

    }
  }
}
