@import "../../styles/breakpoints";

.alot {
  margin: 0 1rem;
  h1 {
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  @include respondMin('tablet') {
    margin: 4rem 2rem;
    h1 {
      font-size: 2rem;
      max-width: 450px;
    }
  }

  @include respondMin('desktop') {
    margin: 6rem 3rem;
    h1 {
      font-size: 2.5rem;
    }
  }
}
